.homePageContent{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2;
    text-align: center;
    align-items: center;
    margin-left: 15%;
}
@media screen and (max-width: 1200px) {
    .homePageContent{
        width: 80%;
    }
  }
  @media screen and (max-width: 768px) {
    .homePageContent{
        width: 100%;
        margin-left: 5%;
    }
  }