.homePageContent{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2;
    text-align: center;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .content{
        width: 100%;
    }
    .homePageContent{
        width: 80%;
    }
  }