.questionsList{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.questionsList.noQuestionText{
    font-size: 30px;
    color: #666;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}