.LeaderBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -3%;
}
@media screen and (max-width: 600px){
    .LeaderBoard{
        margin-top: -2%;
    }
    
}