.isAnswered {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:lightslategray;
    font-size: 1.5rem;
    border-bottom: 5px dashed lightgray;
    width: 80%;
}
.barLink{
    cursor: pointer;
}
.barLink:hover{
    color: #dddddd;
}
.barLink.active{
    color: rgb(131, 210, 237);
}
@media screen and (max-width: 1100px){
    .isAnswered{
        padding-top: 10%;
    }
}
@media screen and (max-width: 768px){
    .isAnswered{
        padding-top: 12%;
    }
}