.LeaderBoardUser{
    max-width: 100%;
    max-height: 100%;
    position: relative;

}
.image_LeaderBoard{
    max-width: 100%;
    max-height: 100%;
    z-index: -1; 
}
.User1{
    grid-row: 2/8;
    grid-column: 3/4;

}
.User2{
    grid-column: 2/3;
    grid-row: 5/10;

}
.User3{
    grid-column: 4/5;
    grid-row: 7/12;
}
.LeaderBoardUser h4{
    text-align: center;
    color: #666;

}
.User1 .LeaderBoardUser h4{
    color:goldenrod;
    font-size: 1.15rem;
}
.scoreConditionCard{
    display: none;
    text-align: center;
    width: 128%;
    gap: 5px;
    z-index: 1;
    background-color: rgb(245, 231, 206, 0.01);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
    transform: translateX(-50%);
    transform: translateY(-20%);
    color: #333;

}
.LeaderBoardUser:hover .scoreConditionCard{
    display: block;
}