.avatarsChoiceArea{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 5px;
    row-gap: 5px;
    width: 30%;
    border: 3px solid #dddd;
    padding: 2%;
    border-radius: 10px;
    margin-top: 2%;
}
.avatarsChoiceArea img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    border: 3px dashed #dddd;
    border-radius: 10px;
    padding: 3px;
}
.avatarsChoiceArea img:hover{
    border-color: #4CAF50;
}
.avatarsChoiceArea .avatarsUpload{
    border-radius: 50%;
}
.image-radio {
    cursor: pointer;
  }
  
  .image-radio input[type="radio"] {
    display: none;
  }
 
  .image-radio input[type="radio"]:checked + img {
    border: 3px solid #4CAF50;;
  }
  
@media screen and (max-width: 1200px){
    .avatarsChoiceArea{
        width: 40%;
    }

}
@media screen and (max-width: 768px){
    .avatarsChoiceArea{
        width: 50%;
        margin-top: 5%;
    }

}
@media screen and (max-width: 600px){
    .avatarsChoiceArea{
        width: 60%;
        margin-top: 8%;
    }

}
@media screen and (max-width: 450px){
    .avatarsChoiceArea{
        width: 70%;
        margin-top: 10%;
    }

}